body {
    background-image: url('../images/binary-sunset.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Splash', cursive;
}
hr {
    color: #EAF6F6;
    border-width: 3px;
    border-style: dotted;
    width: 550px;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    height: 5px;
}

h1 {
    margin: 0;
    font-family: 'Splash', cursive;
    color: #66BFBF;
    line-height: 2;
}


h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-size: 2rem;
    margin-bottom: 30px;
}

a {
    color: #11999E;
}

.top-container {
    padding-top: 10px;
}

.middle-container {
    margin-top: 30px;
}

.bottom-container {
    margin-top: 30px;
    display: inline-block;
}

p {
    color: #66BFBF;
    font-size: 30px;
}


.image-profile-class {
    margin: auto;
    padding: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.skill-row {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    margin-bottom: 200px;
}

.skill-paragraph {
    text-align: left;
    line-height: 2;
    margin-top: 5px;
}

.image-skills-class {
    width: 40%;
    height: 30%;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: auto;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.footer-link {
    margin: 100px;
}

.footer-logo {
    width: 64px;
    height: 64px;
}